@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: theme(spacing.2);

    padding: theme(spacing.3) theme(spacing.6);

    border-radius: theme(borderRadius.md);

    font-family: theme(fontFamily.sans);
    font-weight: theme(fontWeight.medium);

    @apply transition-colors;
  }

  .button[data-variant='primary'] {
    background-color: theme(colors.cyan.900);
    color: theme(colors.white);
  }

  .button[data-variant='secondary'] {
    background-color: theme(colors.gray.200);
    color: theme(colors.gray.700);
  }

  .button[data-variant='tertiary'] {
    background-color: theme(colors.transparent);
    color: theme(colors.gray.700);
  }

  .button[data-variant='primary']:hover {
    background-color: theme(colors.cyan.800);
  }

  .button[data-variant='secondary']:hover {
    background-color: theme(colors.gray.300);
    color: theme(colors.gray.900);
  }

  .button[data-variant='tertiary']:hover {
    background-color: theme(colors.gray.100);
  }

  .button[data-variant='primary']:disabled:hover {
    background-color: theme(colors.cyan.900);
  }

  .button[data-variant='secondary']:disabled:hover {
    background-color: theme(colors.gray.200);
    color: theme(colors.gray.900);
  }

  .button[data-variant='tertiary']:disabled:hover {
    background-color: theme(colors.transparent);
  }

  .button:disabled {
    opacity: theme(opacity.60);
    cursor: not-allowed;
  }
}
